<p id="notice"><%= notice %></p>

<p>
  <strong>Technician name:</strong>
  <%= @schedule.technician_name %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @schedule.location_name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @schedule.time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @schedule.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @schedule.price %>
</p>

<p>
  <strong>Break:</strong>
  <%= @schedule.break %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
