<!DOCTYPE html>
<html>
  <head>
    <title>LloydPestControl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <ul class="nav">
      <li class="nav-item"><%= link_to "Home", root_path %></li>
      <li class="nav-item"><%= link_to "Technicians", welcome_technicians_path %></li>
      <li class="nav-item"><%= link_to "Locations", welcome_locations_path %></li>
      <li class="nav-item"><%= link_to "Work Orders", welcome_orders_path %></li>
      <li class="nav-item"><%= link_to "Invoices", invoices_path %></li>
      <li class="nav-item"><%= link_to "Login", root_path %></li>
    </ul>
      <%= yield %>
  </div>
  </body>
</html>
